//baseWidth
$baseWidth1:1000px; //dummy

// Breakpoint
$breakpoint1:767px;

// Common Colors
$grass1:#A0D468;
$grass2:#8CC152;
$medium-gray1:#CCD1D9;
$medium-gray2:#AAB2BD;

//$color2:#;
//$color3:#;

// link color
$link:#000;
$hover:#900;
$active:#900;
$visited:#000;

