@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

/*
a:link{color:#900;}
a:hover{color:#900;}
a:active{color:#900;}
a:visited{color:#000;}
*/
img {
  max-width: 100%;
  height: auto;
}

.sp-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
	layout
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
body {
  padding: 20px;
  font-size: 1.4rem;
}

/*
------------------------------------------------------------*/
.l-flame1 {
  border: 1px solid #CCC;
  padding: 18px;
  margin-top: 30px;
}

.l-flame1:first-child {
  margin-top: 0;
}

/*
------------------------------------------------------------*/
.l-flame2 {
  *zoom: 1;
}

.l-flame2:after {
  display: block;
  content: "";
  clear: both;
}

.l-flame2__left {
  width: 49%;
  float: left;
}

.l-flame2__right {
  position: fixed;
  width: 49%;
  right: 10px;
  top: 20px;
}

/*
------------------------------------------------------------*/
.l-flame3 {
  position: relative;
}

.l-flame3 .c-title1 {
  position: absolute;
  top: 0;
  right: 0;
}

.l-flame3 + .l-flame3 {
  margin-top: 15px;
}

/*
------------------------------------------------------------*/
.u-input {
  border: 3px solid #00C;
}

.u-input2 {
  border: 2px solid #BC0;
}

.u-input3 {
  height: 60px;
  font-size: 10px;
  border: 2px solid #BC0;
}

:placeholder-shown {
  color: #00ff00;
}

::-webkit-input-placeholder {
  color: #00ff00;
}

:-moz-placeholder {
  color: #00ff00;
  opacity: 1;
}

::-moz-placeholder {
  color: #00ff00;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #00ff00;
}

input:placeholder-shown {
  color: #00ff00;
}

input::-webkit-input-placeholder {
  color: #00ff00;
}

input:-moz-placeholder {
  color: #00ff00;
  opacity: 1;
}

input::-moz-placeholder {
  color: #00ff00;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #00ff00;
}

textarea {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

dl {
  margin-top: 15px;
}

dl:first-child {
  margin-top: 0;
}

dd {
  margin-top: 5px;
}

dd input {
  padding: 6px;
  width: 97%;
}

select {
  cursor: pointer;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/* 1
------------------------------------------------------------*/
.c-title1 {
  background: #8CC152;
  color: #FFF;
  font-size: 10px;
  line-height: 1;
  padding: 3px 4px;
  border-radius: 0px 5px 0 5px;
  opacity: 0.8;
}

.c-title1--gray {
  background: #AAB2BD;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
	list
------------------------------------------------------------*/
/* 1
------------------------------------------------------------*/
.c-list1 li {
  list-style: disc;
  margin-bottom: 15px;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
							Nav
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
margin
------------------------------------------------------------*/
.u-mt0 {
  margin-top: 0px !important;
}

.u-mt5 {
  margin-top: 5px !important;
}

.u-mt10 {
  margin-top: 10px !important;
}

.u-mt15 {
  margin-top: 15px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mt25 {
  margin-top: 25px !important;
}

.u-mt30 {
  margin-top: 30px !important;
}

.u-mt35 {
  margin-top: 35px !important;
}

.u-mt40 {
  margin-top: 40px !important;
}

.u-mt45 {
  margin-top: 45px !important;
}

.u-mt50 {
  margin-top: 50px !important;
}

.u-mb0 {
  margin-bottom: 0px !important;
}

.u-mb5 {
  margin-bottom: 5px !important;
}

.u-mb10 {
  margin-bottom: 10px !important;
}

.u-mb15 {
  margin-bottom: 15px !important;
}

.u-mb20 {
  margin-bottom: 20px !important;
}

.u-mb25 {
  margin-bottom: 25px !important;
}

.u-mb30 {
  margin-bottom: 30px !important;
}

.u-mb35 {
  margin-bottom: 35px !important;
}

.u-mb40 {
  margin-bottom: 40px !important;
}

.u-mb45 {
  margin-bottom: 45px !important;
}

.u-mb50 {
  margin-bottom: 50px !important;
}

/*------------------------------------------------------------
Anchor position
------------------------------------------------------------*/
/*------------------------------------------------------------
for develop browser-sync
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important;
}

/*------------------------------------------------------------
Color
------------------------------------------------------------*/
/*------------------------------------------------------------
Adjust tracking tag space
------------------------------------------------------------*/
.trackTags {
  display: none;
}
