/*------------------------------------------------------------
	layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
	padding: 20px;
	font-size: 1.4rem;
}

/*
------------------------------------------------------------*/
.l-flame1{
	border: 1px solid #CCC;
	padding: 18px;
	margin-top: 30px;
	&:first-child{
		margin-top: 0;
	}
}

/*
------------------------------------------------------------*/
.l-flame2{
	@include clear;
	&__left{
		width: 49%;
		float: left;
	}
	&__right{
		position: fixed;
		width: 49%;
		right: 10px;
		top: 20px;
	}
}

/*
------------------------------------------------------------*/
.l-flame3{
	position: relative;
	.c-title1{
		position: absolute;
		top: 0;
		right: 0;
	}
	+ .l-flame3{
		margin-top: 15px;
	}
}

/*
------------------------------------------------------------*/
.u-input{
	border: 3px solid #00C;
}
.u-input2{
	border: 2px solid #BC0;
}

.u-input3{
	height: 60px;
	font-size: 10px;
	border: 2px solid #BC0;
}



@include placeholderColor(#00ff00);

input{
	@include placeholderColor(#00ff00);
}

textarea{
	width: 100%;
	height: 400px;
	margin-top: 20px;
	padding: 6px;
	box-sizing: border-box;
}

dl{
	margin-top: 15px;
	&:first-child{
		margin-top: 0;
	}
}
dt{
}
dd{
	margin-top: 5px;
	input{
		padding: 6px;
		width: 97%;
	}

}


select{
	cursor: pointer;

}