
/*------------------------------------------------------------
	list
------------------------------------------------------------*/

/* 1
------------------------------------------------------------*/
.c-list1{
	li{
		list-style: disc;
		margin-bottom: 15px;
	}
}