/*------------------------------------------------------------
title
------------------------------------------------------------*/

/* 1
------------------------------------------------------------*/
.c-title1{
	background: $grass2;
	color: #FFF;
	font-size: 10px;
	line-height: 1;
	padding: 3px 4px;
    border-radius: 0px 5px 0 5px;
    opacity: 0.8;
    &--gray{
		background: $medium-gray2;
	}
}